# Best and popular movies

In [53]:
import pandas as pd

In [54]:
movie_metadata = pd.read_csv('data/movies_metadata.csv', low_memory=False)
movie_metadata['id'] = pd.to_numeric(movie_metadata['id'], errors='coerce')
movie_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602.0,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357.0,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862.0,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [59]:
ratings = pd.read_csv('data/ratings.csv', low_memory=False)
ratings = pd.merge(ratings, movie_metadata[['id', 'title']], left_on='movieId', right_on='id', how='inner')
ratings.drop(columns=['id'], inplace=True)
ratings.head()

   userId  movieId  rating   timestamp              title
0       1      110     1.0  1425941529  Three Colors: Red
1      11      110     3.5  1231676989  Three Colors: Red
2      22      110     5.0  1111937009  Three Colors: Red
3      24      110     5.0   979870012  Three Colors: Red
4      29      110     3.0  1044020005  Three Colors: Red

## Top rated movies

In [61]:
movie_stats = ratings.groupby(['movieId', 'title']).agg({'rating': ['mean', 'count']})
movie_stats = movie_stats[movie_stats['rating']['count'] > 1000]
movie_stats = movie_stats.sort_values(by=('rating', 'mean'), ascending=False)
movie_stats.reset_index(inplace=True)
movie_stats.head(10)

  movieId                             title    rating
                                                 mean  count
0     318          The Million Dollar Hotel  4.429015  91082
1     858              Sleepless in Seattle  4.339811  57070
2     527                Once Were Warriors  4.266531  67662
3    2019                       Hard Target  4.255074  13994
4    2959                    License to Wed  4.230716  60024
5     912           The Thomas Crown Affair  4.214393  30043
6     750                   Murder She Said  4.213030  28280
7    5618                   Cousin, Cousine  4.202589  20855
8     922                          Dead Man  4.200820   7930
9   44555  A Woman, a Gun and a Noodle Shop  4.199039   8948

## Most rated movies

In [62]:
movie_reviews_count = ratings.groupby(['movieId', 'title']).size().reset_index(name='reviews_count')
top_10_most_reviewed_movies = movie_reviews_count.sort_values(by='reviews_count', ascending=False).head(10)
top_10_most_reviewed_movies

      movieId                               title  reviews_count
256       318            The Million Dollar Hotel          91082
236       296  Terminator 3: Rise of the Machines          87901
448       593                             Solaris          84078
206       260                        The 39 Steps          77045
361       480                     Monsoon Wedding          74355
394       527                  Once Were Warriors          67662
72        110                   Three Colors: Red          66512
1596     2959                      License to Wed          60024
107       150                             48 Hrs.          57416
593       780          The Passion of Joan of Arc          57232